* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FBFBFB;
}

#main {
  width: 100vw;
  height: 100vh;
  display: grid;
  height: fit-content;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "in-bal overview bills"
                      "budget goals expenses";
  row-gap: 0;
  column-gap: 0;
}

#overview {
  width: 600px;
  height: 400px;
  grid-area: overview;
}

#in-bal {
  width: 380px;
  height: 400px;
  grid-area: in-bal;
}

#balance {
  width: 380px;
  height: 200px;
  background-color: #7B8FFF;
}

#income {
  width: 380px;
  height: 200px;
  background-color: #FF8EFF;
}

#budget {
  width: 380px;
  height: 300px;
  background-color: #FF9A34;
  grid-area: budget;
}

#bills {
  width: 517px;
  height: 400px;
  background-color: #FF5D5D;
  grid-area: bills;
}

#goals {
  width: 600px;
  height: 300px;
  background-color: #B37BFF;
  grid-area: goals;
}

#expenses {
  width: 600px;
  height: 300px;
  background-color: #4FEDCF;
  grid-area: expenses;
}


/* overview  */

#overview h2 {
  margin-left: 26px;
}

#graph {
  margin: 0 auto;
  width: 540px;
  height: 260px;
  background-color: white;
  border: grey 1px dashed;
}

#overview-keys {
  margin: 0 auto;
  width: 540px;
  height: 60px;
  background-color: white;
  box-shadow: 2px 1px 4px rgb(214, 214, 214);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  padding-top: 12px;
  border-radius: 8px;
}
.keys {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overview-circles {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin-top: -14px;
  margin-right: 5px;
}

.cir-inc {
  background-color: #008ce2;
}

.cir-bal {
  background-color: #00b493;
}

.cir-exp {
  background-color: #FF5D5D;
}

.cir-bill {
  background-color: #ff970f ;
}
.cir-bud {
  background-color: #B37BFF;
}

.cir-goal {
  background-color: #00727b ;
}

/* add buttons  */
.add-btn {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: #44A1A0;
  font-size: 16px;
  color: white;
}

#income-modal {
  /* display: none; */
  background-color: white;
}

.modal-container {
  background-color: white;
}