<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>User Information</h1>
    <p>Id: {{id}}</p>
    <p>First Name: {{first_name}}</p>
    <p>Last Name: {{last_name}}</p>
    <p>Username: {{username}}</p>
    <p>email: {{email}}</p>

    <p>populate method: {{populate}}</p>

    <h1>Form Example:</h1>
    <form action="/dashboard/your-name/" method="post">
      {% csrf_token %}
      <label for="your_name">Your name: </label>
      <input
        id="your_name"
        type="text"
        name="your_name"
        value="{{ current_name }}"
      />
      <input type="submit" value="OK" />
    </form>

    <form action="/dashboard/" method="POST">
      {% csrf_token %} {{form}}
      <input type="submit" value="Submit" />
    </form>

    <form action="/dashboard/form3/" method="post">
      {% csrf_token %} {{form3}}
      <input type="submit" value="Submit" />
    </form>

    {{current_name}}
  </body>
</html>
