{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>navbar</title>
  <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <a class="navbar-brand" href="#">VE$T</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="./base.html">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../profilesections/bills.html">Bills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../profilesections/expenses.html">Expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../profilesections/income.html">Income</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../profilesections/balance.html">Balance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../profilesections/goals.html">Goals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../profilesections/budget.html">Budget</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
      
      <li class="nav-item">
        {% if user.is_authenticated %}
        <ul>
          <li> <p> Welcome, {{user_name}}!</p> </li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>
        {% else %}
        <ul>
          <li><a class="login-btn nav-link" href="{% url 'login' %}">Log In</a></li>
          <li><a class="register-btn nav-link" href="{% url 'dashboard:register' %}">register</a></li>
        </ul>
        {% endif %}
      </li>
      </ul>
    </div>
  </nav>
</body>
</html>