{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}
{% block additionalStyles %}
  <link rel="stylesheet" href="{%  static  'css/style.css'  %}"/>
{% endblock %}

{% block content %} 
  {% if user.is_authenticated %} 

    <main id="main">
      <div id="in-bal">
        <section id="balance">balance</section>
        <section id="income">income</section>
      </div>
      <section id="overview">overview</section>
      <section id="bills">bills</section>
      <section id="budget">budget</section>
      <section id="goals">goals</section>
      <section id="expenses">expenses</section>
    </main>

  {% else %} 

  {% endif %} 
{% endblock %} 
