{% extends 'dashboard/base.html' %}
{% load static %}




{% block title %}Profile{% endblock %}
{% block additionalStyles %}
  <link rel="stylesheet" href="{%  static  'css/style.css'  %}"/>
{% endblock %}

<div class="modal-out" id="income-modal-out">
  {% block modal %}
    <div class="modal" id="income-modal">
      <div class="modal-container">
        <h1>Add new income</h1>
        <form method="post">
          {% csrf_token %}
          {{add_income_form.as_p}}
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  {% endblock %}
</div>

<div class="modal-bill-out" id="bill-modal-out">
  {% block modal2 %}
    <div class="modal" id="bill-modal">
      <div class="bill-modal-container">
        <h1>Add new income</h1>
        <form method="post">
          {% csrf_token %}
          {{bill_form.as_p}}
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  {% endblock %}
</div>


{% block content %} 

  {% if user.is_authenticated %} 
    <main id="main">

      <div id="in-bal">
        <section id="balance">
          <h2>Balance</h2>
          <div id="balance-data">
            <p id="current-balance">$ { 0.00 }</p>
          </div>
        </section>
        <section id="income">
          <h2>Income</h2>
          <button class="add-btn" id="add-income" type="submit">+</button>

          <div>
            {% for income, deposit in user_income reversed %}
                <div id="income-data">
                  <h6 id="income-source">{{income}}</h6>
                  <p id="income-money">{{deposit}}</p>
                  <!-- <p id="income-date">{ 5 / 5 / 2022 } </p> -->
                  <!-- <div id="income-btns">
                    <div id="income-edit">{ edit }</div>
                    <div id="income-trash">{ trash }</div>
                  </div> -->
                </div>
            {% endfor %}
          </div>
        </section>
      </div>

      <section id="overview">
        <h2>Overview</h2>
        <div id="graph"></div>
        <div id="overview-keys">
          <div class="keys" id="income-key">
            <div class="overview-circles cir-inc"></div>
            <p class="key-label">Income</p>
          </div>
          <div class="keys" id="balance-key">
            <div class="overview-circles cir-bal"></div>
            <p class="key-label">Balance</p>
          </div>
          <div class="keys" id="expenses-key">
            <div class="overview-circles cir-exp"></div>
            <p class="key-label">Expenses</p>
          </div>
          <div class="keys" id="bills-key">
            <div class="overview-circles cir-bill"></div>
            <p class="key-label">Bills</p>
          </div>
          <div class="keys" id="budget-key">
            <div class="overview-circles cir-bud"></div>
            <p class="key-label">Budget</p>
          </div>
          <div class="keys" id="goals-key">
            <div class="overview-circles cir-goal"></div>
            <p class="key-label">Goals</p>
          </div>
        </div>
      </section>

      <section id="bills">
        <h2>Bills</h2>
        <button class="add-btn" id="add-bill" type="submit">+</button>
        <div class="bill-container">
          { bill cards will be here }
        </div>
      </section>

      <section id="budget">
        <h2>Budget</h2>
          <button class="add-btn" id="add-budget" type="submit">+</button>
        { budget cards will be here}
      </section>

      <section id="goals">
        <h2>Goals</h2>
        <form method="POST">
          <button class="add-btn" id="add-goal" type="submit">+</button>
        </form>
        <div id="goals-container">
          { goals cards will be here}
        </div>
        <p>Add new goals</p>
        <div id="goal-choices">
          <div class="goal">1</div>
          <div class="goal">2</div>
          <div class="goal">3</div>
          <div class="goal">4</div>
        </div>

      </section>

      <section id="expenses">
        <h2>Expenses</h2>
        <form method="POST">
          <button class="add-btn" id="add-expense" type="submit">+</button>
        </form>
        { Expenses cards will be here}
      </section>

    </main>

  {% else %} 

  {% endif %} 
{% endblock %} 
